<!DOCTYPE html>
<html lang="sq">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shkolla</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Mirsevini ne shkollen tone </h1>
    <nav>
        <a href="/">Fillimi</a>
        <a href="/courses">Kurset</a>
        <a href="/signup">Regjistrohu</a>
        <a href="/login">Kyçu</a>
    </nav>
</body>
</html>
